:root{
    --border-grey-90deg: linear-gradient(90deg, #484848 85%, transparent 15%);
    --border-grey-0deg: linear-gradient(0deg, #484848 85%, transparent 15%);
    --border-bg-size: 25px 7px, 25px 7px, 7px 25px,  7px 25px;

    --grey--100: #484848;
    --red: #e31e24;
}